// Imported Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

//Primary Colors
$violet: hsl(257, 40%, 49%);
$softMagneta: hsl(300, 69%, 71%);
$white: #fff;

//font stack
$font: "Poppins", sans-serif;
$fontWeight_1: 400;
$fontWeight_2: 600;